<article class="post_card">
    <div class="post_title_container">
        <div class="post_title">
    
            {{#if @root.data}}
            {{post_title}}
            {{else}}
            <a href="/post/{{id}}">
                {{post_title}}
            </a>
            {{/if}}
        </div>
        <div class="post_meta_data">
            <span>Posted by {{user.username}} on {{format_date created_at}}</span>
        </div>
    </div>
    <div class="post_body">
        {{post_content}}
    </div>
</article>